<a href="https://colab.research.google.com/github/aaron-umich/SecurityAppPrototype/blob/master/gurjinds_olympics1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [61]:

import pandas as pd
legos = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/olympic_medals.csv')
legos.head()

   Gender       Event  ... Nationality    Result
0       M  10000M Men  ...         GBR  25:05.17
1       M  10000M Men  ...         KEN  27:05.64
2       M  10000M Men  ...         ETH  27:06.26
3       M  10000M Men  ...         ETH  27:01.17
4       M  10000M Men  ...         ETH  27:02.77
..    ...         ...  ...         ...       ...
95      M    100M Men  ...         GBR      10.4
96      M    100M Men  ...         USA      10.3
97      M    100M Men  ...         USA      10.4
98      M    100M Men  ...         NED      10.5
99      M    100M Men  ...         CAN      10.8

[100 rows x 8 columns]

In [25]:
len(legos.columns)

8

In [10]:
len(legos.index)

2394

In [11]:
legos.dtypes

Gender         object
Event          object
Location       object
Year            int64
Medal          object
Name           object
Nationality    object
Result         object
dtype: object

In [95]:
legos['count']=1
legos.groupby(['Location']).count()['count']

Location
Amsterdam                 57
Antwerp                   42
Athens                   173
Atlanta                  130
Barcelona                125
Beijing                  128
Berlin                    66
Helsinki                  93
London                   253
Los Angeles              181
Melbourne / Stockholm     58
Mexico                    75
Montreal                  96
Moscow                   111
Munich                    81
Paris                    111
Rio                      141
Rome                      99
Seoul                     18
St Louis                  51
Stockholm                 63
Sydney                   140
Tokyo                    102
Name: count, dtype: int64

In [66]:
legos.loc[legos['Nationality']=='USA'].value_counts().describe()

count    577.0
mean       1.0
std        0.0
min        1.0
25%        1.0
50%        1.0
75%        1.0
max        1.0
dtype: float64

In [83]:
legos.loc[legos['Nationality']=='USA'].groupby('Nationality').count()

             Gender  Event  Location  Year  Medal  Name  Result
Nationality
USA             638    638       638   638    638   577     638